* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'LatoWeb';
    src: url('fonts/Lato-Regular.eot');
    src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Regular.woff2') format('woff2'),
         url('fonts/Lato-Regular.woff') format('woff'),
         url('fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'LatoItalic';
    src: url('fonts/Lato-Italic.eot');
    src: url('fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lato-Italic.woff2') format('woff2'),
         url('fonts/Lato-Italic.woff') format('woff'),
         url('fonts/Lato-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: Ysabeau;
    src: url(fonts/YsabeauOffice.ttf);
}

body {
    margin: 0;
    background-color: #FFF7F6;
}

h2 {
    font-family: Ysabeau;
    font-weight: 500;
    color: #BB616F;
    text-transform: uppercase;
}

h3 {
    font-family: LatoWeb;
}

.hero {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

h1#names {
    color: #BB616F;
    width: 5em;
    font-size: 4em;
    text-transform: uppercase;
    z-index: 1;
}

#portrait {
    margin-left: 2em;
    margin-top: -6em;
    /* position: absolute; */
    z-index: 0;
}

.greetings {
    grid-area: text;
}

picture#intro-pic {
    grid-area: picture;
}

#date {
    grid-area: date;
}

section.intro {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "text text"
      "picture date";
}

section.schedule {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "title title"
      "picture1 info1"
      "line1 ."
      "picture2 info2"
      "line2 ."
      "picture3 info3"
      "line3 ."
      "picture4 info4";
    gap: 20px;
}

p {
    font-family: LatoWeb;
}

.schedule h3 {
    font-family: LatoItalic;
    color: #acacac;
}

.schedule>picture>img {
    margin-top: 50%;
    width: 5em;
}

.schedule h2 {
    grid-area: title;
    text-align: center;
}

.schedule .picture1 {
    grid-area: picture1;
}

.schedule .picture2 {
    grid-area: picture2;
}

.schedule .picture3 {
    grid-area: picture3;
}

.schedule .picture4 {
    grid-area: picture4;
}

.schedule .picture5 {
    grid-area: picture5;
}

.schedule .line1,
.schedule .line2,
.schedule .line3,
.schedule .line4 {
    width: 2px;
    height: 7em;
    background-color: black;
    margin: 0 auto;
}

.schedule .line1 {
    grid-area: line1;
}

.schedule .line2 {
    grid-area: line2;
}     

.schedule .line3 {
    grid-area: line3;
}     

.schedule .line4 {
    grid-area: line4;
}     

.schedule .line5 {
    grid-area: line5;
}     

.schedule .info1 {
    grid-area: info1;
}

.schedule .info2 {
    grid-area: info2;
}

.schedule .info3 {
    grid-area: info3;
}

.schedule .info4 {
    grid-area: info4;
}

.schedule .info5 {
    grid-area: info5;
}

section.location {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* align-items: center; */
    justify-content: center;
    background-color: beige;
}

.location h2, .location p {
    text-align: left;
}

section.wishes, section.survey, div.location-content {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.schedule h2, .wishes h2, .survey h2 {
    text-align: center;
}

form {
    font-family: LatoWeb;
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.radio-group .radio-options,
.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-control input[type="text"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.radio-group .main-label,
.checkbox-group > label:first-child {
    margin-bottom: 10px;
}

form button {
    border: none;
    height: 3em;
    border-radius: 1em;
    margin: auto;
    width: 10em;
    background-color: #BB616F;
    color: white;
    font-family: LatoWeb;
}

footer {
    display: flex;
    height: 5em;
}

footer p {
    font-family: 'LatoItalic';
    margin: auto;
}